*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    margin-top: 10px;
    margin-left:10px;
    margin-right: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;

}

.row {
    display: flex;